@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  transition: all 0.2s ease-in-out;
}

body {
  background: #6c63ff;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.card {
  background: #fdfdfd;
  border-radius: 4px;
  height: 85vh;
  width: 80vw;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column; /* Ensure column layout by default */
  justify-content: flex-start; /* Align content to the top */
  align-items: center;
  padding: 1em;
  overflow: hidden;
}

img.birthday {
  max-height: 40vh;
  margin-top: 1em; /* Add some space at the top */
}

.text {
  padding: 1em;
  color: #333;
}

.muted {
  opacity: 0.8;
}

.space {
  height: 100px;
}

/* Mobile-first approach */
@media only screen and (min-width: 640px) {
  .card {
    flex-direction: column; /* Keep column layout for medium screens */
  }
  .card img.birthday {
    max-width: 80%; /* Adjust image width for medium screens */
    max-height: 50vh; /* Limit height for better proportion */
  }
}

@media only screen and (min-width: 1000px) {
  .card {
    flex-direction: column; /* Keep column layout for larger screens */
  }
  .card img.birthday {
    max-width: 60%; /* Adjust image width for larger screens */
    max-height: 50vh; /* Limit height for better proportion */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body.play-music {
  animation: fadeIn 2s ease-in-out;
}
